<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page16">
  <form id="login-form5">
    <ion-list id="login-list9">
      <ion-item id="login-input4">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""[(ngModel)]="email" name="email" [ngModelOptions]="{standalone: true}"required="required"></ion-input>
      </ion-item>
      <ion-item id="login-input5">
        <ion-label>
          Senha
        </ion-label>
        <ion-input type="password" placeholder=""[(ngModel)]="password" name="password" required="required"></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height:40px;" id="login-spacer5"></div>
    <div padding text-center>
      
        <button *ngIf="email && password " ion-button color="danger" round (click)="submitLogin()">
         Login</button>
       <!-- Show dead button if form is not filled -->
       <button *ngIf="!email && !password" ion-button color="danger" clear round>Login Now</button>
       
       
     </div>
    <button id="login-button17" ion-button outline color="positive" block on-click="goToCadastro()">
      Criar Conta
    </button>
  </form>
</ion-content>